./deps/libevent/*
./deps/googletest/*
./deps/jsoncpp/*
./deps/common/*
build/*
cmake-build-*/*
.vscode/*
.DS_Store
.idea
compile_commands.json
./.name
./miniob.iml
./vcs.xml
./workspace.xml
./modules.xml
*.output
*.ans
./test/case/miniob_data_test/*
./test/case/result_tmp/*
